.menu {
    display:flex;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    margin:0;
    
    

    
}

.link {
    list-style: none;
    font-size: 12px;
    margin-right: 10px;
    font-family:"IBM Plex Sans";
    font-weight:300;
    color:#00CCBC;
    
    
   
}

.link:hover{
    cursor: pointer;
}



.menuSection {
    display:flex;
    flex-direction: row;
    position:sticky;
    top:0;
    justify-content: flex-start;
    background-color:white;
    border-top: solid 0.5px rgba(179, 168, 168, 0.2);
}