.Basket {
    min-height: 200px;
    font-family:"IBM Plex Sans";
    font-weight: 300;
    position:absolute;
    right:10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    color:#2E3333;

}

button {
    background-color:#B9C3C3;
    color:#8C9B9B;
    font-family:"IBM Plex Sans";
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    width: 300px;
    padding:17px;
    margin: 5px;
    border-radius: 5px;
}

.container {
    width:280px;
    padding-bottom:10px;
}

.item{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    
}

.icon{
    min-width:fit-content;
    padding-right:10px;
}

.empty {
    text-align:center;
    font-family: "IBM Plex Sans";
    color:#BCBDBD;
    margin:auto;
}

.full{
    background-color:#33D6C8;
    color:white;
    border:none;
}

.text {
display:flex;
justify-content: space-between;
padding-top:3px;

}

.intermediate {
    padding-top:10px;
    padding-bottom:10px;
    border-top: solid 0.5px rgba(179, 168, 168, 0.2);
}


.total::before{
    display:block;
    content:"";
    height:10px;
    width:100%;
    border:none;
    box-shadow:0px -3px 6px -2px rgba(8, 8, 8, 0.07);
}