.card {
    display:flex;
    flex-direction: row;
    height: 130px;;
    width: 355px;
    background-color: white;
    margin: 15px;
    margin-left: 0px;
    justify-content: space-between;
    align-items:center;
    border-radius: 5px;

}

.card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    text-align:end;
    margin-right: 10px;
    border-radius:5px;
    

}

.description {
    font-family: "IBM Plex Sans";
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
padding-left:10px;
padding-right:10px
    
}
