@import "./assets/fonts/stylesheet.css";

body {
    font-family: 'Stratos Deliveroo Web';
    font-style:normal;
    font-weight:600;
    background-color: #F4F5F5;
}


h1 {
font-size: 28px;
line-height: 28px;
}

h2 {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

p {
    font-family: "IBM Plex Sans";
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}